.image{
    width: 267px;
    height: 160px;
  
}
.card_title{
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 26px;
color: #111517;
width: 234px;
}
.card{
    background: #FFFFFF;
box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
border-radius: 5px;
}
ul{
    list-style: none;
}
li{
    
    justify-content: start;
  
    
}