.wrapperr{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.images{
    width: 359.71px;
    height: 283.17px;
}
.exit{
background: #FFFFFF;
box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
border-radius: 6px;
width: 100px;
height: 40px;
margin-right: 480px;
justify-content: start;
}